<h1>Welcome to our site!</h1>

<h2>What do you feel like tonight?</h2>
<input type='string' placeholder='eg. Thai, Italian, Burger'/>
<input type='submit' value='Search' class='search-btn' />

<div class='restaurants'>
  <h2>Restaurants:</h2>
    <ul>
      <h4>ThaiTanic</h4><br />
      <h4>Fu King Chinese</h4>
    </ul>
</div>
