<div class='search'>
  <h1>What do you feel like tonight?</h1>
  <input type='string' placeholder='eg. Thai, Italian, Mexican' class='form-control' />
  <input type='submit' value='Search' class='search-btn btn btn-outline-warning' />
</div>

<div class='restaurants'>
  <h2><%= 'Restaurants:' if @restaurants.any? %></h2>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <%= link_to restaurant.name, restaurant %>
    <% end %>
  </ul>
</div>
