.menu {
  margin-bottom: 100px;
  margin: auto;
  padding: 50px 0;
  width: 40%;
  max-width: 500px;
}

.menu p {
  margin-top: 20px;
}

.scroll {
  font-size: 16px;

}

.product-area {
  clear: both;
  padding: 50px 0px;
  border: 2px solid black;
}

.product-area button {
  float: right;
  margin: auto;
  margin-right: 50px;
  display: inline;
}
