<div class='review'>
  <% review.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
  <span>By: <strong><%= review.user.email %></strong></span>
  <span><%= time_ago_in_words(review.created_at) %> ago</span>
  <p>
    <%= review.body %>
  </p>
</div>
